Schemas/assembly.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- CVS ID: $Id: assembly.dtd 2036 2008-08-21 18:01:17Z jmbailey $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:group name="DesignParameters">
    <xs:sequence>
      <xs:element ref="TerminalParameter"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="ValueRange" abstract="true">
    <xs:complexType>
      <xs:attribute name="lowValue"/>
      <xs:attribute name="highValue"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="Parameters">
    <xs:choice>
      <xs:element ref="MultiParameter"/>
      <xs:element ref="FactoryParameter"/>
      <xs:element ref="TerminalParameter"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Statistics" abstract="true"/>
  <xs:element name="SimkitAssembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SimEntity"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="DesignParameters"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EventGraph"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PropertyChangeListener"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SimEventListenerConnection"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PropertyChangeListenerConnection"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Adapter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Output"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Verbose"/>
        <xs:element minOccurs="0" ref="Schedule"/>
        <xs:element minOccurs="0" ref="Experiment"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:ID"/>
      <xs:attribute name="version" default="1.0"/>
      <xs:attribute name="package" use="required"/>
      <xs:attribute name="extend" default="viskit.xsd.assembly.ViskitAssembly"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="meta"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="meta">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="content"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="Parameters"/>
        <xs:element minOccurs="0" ref="Coordinate"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="url"/>
      <xs:attribute name="description"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ValueRange"/>
      </xs:sequence>
      <xs:attribute name="name"/>
      <xs:attribute name="linkRef" type="xs:IDREF"/>
      <xs:attribute name="link" type="xs:ID"/>
      <xs:attribute name="value"/>
      <xs:attribute name="type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoubleRange" substitutionGroup="ValueRange"/>
  <xs:element name="IntegerRange" substitutionGroup="ValueRange"/>
  <xs:element name="MultiParameter">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="Parameters"/>
      <xs:attribute name="name"/>
      <xs:attribute name="type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FactoryParameter">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="Parameters"/>
      <xs:attribute name="name"/>
      <xs:attribute name="factory" use="required"/>
      <xs:attribute name="method" default="getInstance"/>
      <xs:attribute name="type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Coordinate">
    <xs:complexType>
      <xs:attribute name="x" use="required"/>
      <xs:attribute name="y" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyChangeListener">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="Parameters"/>
        <xs:element minOccurs="0" ref="Coordinate"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:ID"/>
      <xs:attribute name="type" use="required"/>
      <xs:attribute name="mode" default="listener">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="replicationStat"/>
            <xs:enumeration value="designPointStat"/>
            <xs:enumeration value="listener"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="meanStatistics" default="false">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="countStatistics" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="description"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimEventListenerConnection">
    <xs:complexType>
      <xs:attribute name="listener" use="required"/>
      <xs:attribute name="source" use="required"/>
      <xs:attribute name="description"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PropertyChangeListenerConnection">
    <xs:complexType>
      <xs:attribute name="property"/>
      <xs:attribute name="listener" use="required"/>
      <xs:attribute name="source" use="required"/>
      <xs:attribute name="description"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Output">
    <xs:complexType>
      <xs:attribute name="entity" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verbose">
    <xs:complexType>
      <xs:attribute name="entity" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Schedule">
    <xs:complexType>
      <xs:attribute name="stopTime" default="0.0"/>
      <xs:attribute name="verbose" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numberReplications" default="1"/>
      <xs:attribute name="printReplicationReports" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="printSummaryReport" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="saveReplicationData" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Coordinate"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="eventHeard" use="required"/>
      <xs:attribute name="eventSent" use="required"/>
      <xs:attribute name="from" use="required" type="xs:IDREF"/>
      <xs:attribute name="to" use="required" type="xs:IDREF"/>
      <xs:attribute name="description"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Log" type="xs:string"/>
  <xs:element name="Errors" type="xs:string"/>
  <xs:element name="PropertyChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Statistics"/>
      </xs:sequence>
      <xs:attribute name="listenerName" use="required"/>
      <xs:attribute name="property"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SampleStatistics" substitutionGroup="Statistics">
    <xs:complexType>
      <xs:attribute name="name"/>
      <xs:attribute name="mean" default="0.0"/>
      <xs:attribute name="variance" default="0.0"/>
      <xs:attribute name="standardDeviation" default="0.0"/>
      <xs:attribute name="count" default="0"/>
      <xs:attribute name="minObs" default="0.0"/>
      <xs:attribute name="maxObs" default="0.0"/>
      <xs:attribute name="samplingType" default="TALLY">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="TALLY"/>
            <xs:enumeration value="TIME_VARYING"/>
            <xs:enumeration value="LINEAR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexedSampleStatistics" substitutionGroup="Statistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SampleStatistics"/>
      </xs:sequence>
      <xs:attribute name="name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Results">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Log"/>
        <xs:element ref="PropertyChange"/>
        <xs:element ref="Errors"/>
      </xs:choice>
      <xs:attribute name="sample" use="required"/>
      <xs:attribute name="designPoint" use="required"/>
      <xs:attribute name="index"/>
      <xs:attribute name="job"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesignPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TerminalParameter"/>
        <xs:element minOccurs="0" ref="Script"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Replication"/>
        <xs:element minOccurs="0" ref="Results"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Statistics"/>
      </xs:sequence>
      <xs:attribute name="index"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Replication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Statistics"/>
      </xs:sequence>
      <xs:attribute name="index"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Script" type="xs:string"/>
  <xs:element name="Sample">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DesignPoint"/>
      </xs:sequence>
      <xs:attribute name="index"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Experiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Script"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Sample"/>
      </xs:sequence>
      <xs:attribute name="jobID"/>
      <xs:attribute name="type" default="latin-hypercube">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="latin-hypercube"/>
            <xs:enumeration value="full-factorial"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="replicationsPerDesignPoint" default="1"/>
      <xs:attribute name="totalSamples" default="1"/>
      <xs:attribute name="jitter" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="timeout" default="0"/>
      <xs:attribute name="debug" default="false">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventGraph">
    <xs:complexType mixed="true">
      <xs:attribute name="fileName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="User"/>
      </xs:sequence>
      <xs:attribute name="name" default="/tmp/passwd.xml"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="User">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:ID"/>
      <xs:attribute name="password" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
